:root{
    --color-light: #ffffff;
    --color-gray-1: #333333;
    --color-gray-2: #4f4f4f;
    --color-gray-3: #bdbdbd;

    --font-base: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    --font-head: Consolas, monaco, monospace;
    --font-footer: Dejavu Sans, Arial, Verdana, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 5vh 5vw;
    height: 100vh;
}

header{
    background-color: var(--color-light);

    font-family: var(--font-head);
    font-weight: 700;
    letter-spacing: -0.08em;
    color: var(--color-gray-1);
    font-size: small;
    text-transform: uppercase;
}

main{
    background-color: var(--color-light);

    font-family: var(--font-base);
}

h1{
    font-family: monospace;
    font-size: 9vh;
    font-weight: 700;
    letter-spacing: -0.035em;
    line-height: 95px;
}

footer{
    background-color: var(--color-light);

    font-family: var(--font-footer);
    color: var(--color-gray-3);
    text-align: center;
    font-size: small;
}

.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;

    width: 100%;
    padding: 25vh 0;
}

.hero img{
    width: 50%;
    padding-right: 8%;
}

.hero section{
    display: flex;
    flex-direction: column;

    width: 50%;
    padding-right: 8%;
}

.hero section p{
    font-weight: 400;
    font-size: 3vh;
    line-height: 5vh;
    letter-spacing: -0.035em;
    width: 60%;
    margin: 3vh 0 7vh;
}

.hero section button{
    background-color: var(--color-gray-1);
    width: 216px;
    height: 68px;

    text-transform: uppercase;
    color: var(--color-light);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
}